window-rule {
    match app-id="^wechat$"
    open-floating true
}
window-rule {
    match app-id="^__main__.py$"
    open-floating true
}
window-rule {
    match app-id="^waypaper$"
    open-floating true
}
window-rule {
    match app-id="^Zotero$"
    open-floating true
}
window-rule {
    match title="Extension"
    open-floating true
}
window-rule {
    match title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id="^clash-verge$"
    open-floating true
}
window-rule {
    match app-id="^QQ$"
    open-floating true
}
window-rule {
    match app-id="^system_monitor$"
    open-floating true
}
window-rule {
    match app-id="^musicfox$"
    open-floating true
}
window-rule {
    match app-id="^qimgv$"
    open-floating true
}
window-rule {
    match app-id="^latex-scratch$"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 500; }
    default-floating-position x=800 y=100 relative-to="top-left"
}
window-rule {
    match app-id="^QQ$"
    open-floating true
    default-column-width { proportion 0.7; }
    default-window-height { proportion 0.8; }
}
window-rule {
    match app-id="^musicfox$"
    open-floating true
    default-column-width { proportion 0.7; }
    default-window-height { proportion 0.8; }
}
window-rule {
    match app-id="^temp_kitty$"
    open-floating true
    default-column-width { proportion 0.7; }
    default-window-height { proportion 0.8; }
}


window-rule {
    match app-id="^Zotero$"
    open-on-workspace "read"
    open-maximized true
}
window-rule {
    match app-id="^zen-browser$" at-startup=true
    open-on-workspace "browser"
    open-maximized true
}

window-rule {
    match app-id="^zen-browser$"
    clip-to-geometry true
}
window-rule {
    match app-id="^Zotero$"
    clip-to-geometry true
}
