* {
    border: none; border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 10px;
}

@import "mocchiato.css";
@import "theme.css";

#waybar {
    /*background: shade(@base, 0.9);*/
    background: transparent;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 10px;
    border-width: 0px;
}

#workspaces button {
    padding: 0px;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 0px;
    color: @lavender;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    /*background: @pink;*/
    background: transparent;
    color: @pink;
    /*margin-left: 4px;*/
    /*padding-left: 12px;*/
    /*padding-right: 12px;*/
    /*margin-right: 4px;*/
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    /*background: @wb-hvr-bg;*/
    background: transparent;
    color: @teal;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 4px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}


#custom-color,
#custom-timer,
#custom-cava,
#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#idle_inhibitor,
#custom-keybindhint,
#language,
#network,
#pulseaudio,
#custom-notifications,
#custom-power,
#taskbar,
#custom-theme,
#tray,
#window,
#workspaces,
#custom-l_end,
#custom-r_end {
    color: @main-fg;
    background: @surface0;
    opacity: 1;
    margin: 5px 0px 5px 0px;
    padding-left: 6px;
    padding-right: 6px;
}
#workspaces,
#taskbar {
    padding: 0px;
}
#custom-r_end {
    border-radius: 0px 28px 28px 0px;
    margin-right: 12px;
    padding-right: 4px;
}
#custom-l_end {
    border-radius: 28px 0px 0px 28px;
    margin-left: 12px;
    padding-left: 4px;
}

#custom-cava,
#idle_inhibitor,
#clock,
#custom-timer,
#custom-todoist {
    color: @lavender;
}
#custom-color {
    color: @pink;
}
#pulseaudio {
  color: @maroon;
  padding-left: 0px;
}
#network {
  color: @peach;
}
#backlight {
  color: @yellow;
}
#bluetooth {
  color: @rosewater;
}
#battery {
  color: @pink;
}
#custom-power {
  color: @mauve;
}
