* {
    border: none; border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    /* font-size: 16px; */
    min-height: 28px;
}

@import "mocchiato.css";
@import "matugen.css";


#waybar {
    background: alpha(@background,0.5);
    /* background: transparent; */
}

#workspaces button {
    background: transparent;
    padding: 0px;
    border-radius: 12px;
    margin-left: 0px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 0px;
    color: @on_background;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: transparent;
    color: @primary;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: transparent;
    color: @teal;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-archicon,
#memory,
#custom-updates,
#cpu,
#custom-timer,
#custom-wallpaper,
#custom-cava,
#backlight,
#battery,
#bluetooth,
#clock,
#network,
#pulseaudio,
#wireplumber,
#custom-power,
#tray,
#window,
#workspaces {
    background: alpha(@background, 0.7);
    /* background: @primary_container; */
    opacity: 0.9;
    margin: 9px 0px 9px 0px;
    padding-left: 6px;
    padding-right: 6px;
    /* box-shadow: 0px 0px 2px rgba(0, 0, 0, .5); */
}
#custom-archicon {
    color: @primary;
    background: @primary_container;
    color: @on_primary;
    background: @primary;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
    margin-left: 12px;
    padding-left: 10px;
    padding-right: 9px;
}
#workspaces {
    font-size: 18px;
    border-radius: 10px 0px 0px 10px;
    border-radius:10px;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 12px;
    padding-right: 12px;
}
#window {
  color: @on_background;
  font-size: 16px;
  border-radius: 10px 10px 10px 10px;
  padding-right: 15px;
}

#custom-updates {
  font-size: 16px;
  color: @primary;
  padding-left: 15px;
  border-radius: 10px 0px 0px 10px;
  /* padding-right: 15px; */
}
#clock {
  font-size: 16px;
  color: @on_background;
}
#custom-wallpaper {
  font-size: 17px;
  color: @primary;
}
#custom-timer {
  font-size: 16px;
  color: @primary;
  border-radius: 0px 10px 10px 0px;
  padding-right: 10px;
}

#pulseaudio,
#wireplumber {
  font-size: 16px;
  color: @on_background;
  border-radius: 10px 0px 0px 10px;
  padding-left: 15px;
}
#network {
  font-size: 16px;
  color: @on_background;
}
#backlight {
  font-size: 16px;
  color: @on_background;
}
#bluetooth {
  font-size: 16px;
  color: @on_background;
  border-radius: 0px 10px 10px 0px;
  padding-right: 15px;
  margin-right: 10px;
}
#tray {
  border-radius: 10px 10px 10px 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

#battery {
  font-size: 16px;
  color: @primary;
  border-radius: 0px 10px 10px 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 12px;
}
#memory {
  font-size: 16px;
  color: @on_background;
  border-radius: 10px 0px 0px 10px;
  padding-left: 15px;
}
#cpu {
  font-size: 16px;
  color: @on_background;
}
#custom-power {
  font-size: 16px;
  color: @primary;
  border-radius: 0px 10px 10px 0px;
  padding-right: 15px;
}
