default_dark_mode 0
font_size 20
ruler_mode 1
new_command _translate python ~/.config/sioyek/scripts/translator.py '%{sioyek_path}' '%{selected_text}'
should_launch_new_window 1

# === CATPPUCCIN MACCHIATO === #
#background_color           #24273a
#
#text_highlight_color       #eed49f
#visual_mark_color          #8087a2
#
#search_highlight_color     #eed49f
#link_highlight_color       #8aadf4
#synctex_highlight_color    #a6da95
#
#highlight_color_a          #eed49f
#highlight_color_b          #a6da95
#highlight_color_c          #91d7e3
#highlight_color_d          #ee99a0
#highlight_color_e          #c6a0f6
#highlight_color_f          #ed8796
#highlight_color_g          #eed49f
#
#
#custom_background_color    #24273a
#custom_text_color          #cad3f5
#
#ui_text_color              #cad3f5
#ui_background_color        #363a4f
#ui_selected_text_color     #cad3f5
#ui_selected_background_color #5b6078
